<!DOCTYPE html>
<html lang="ko">
<style>
    
            .audio-player {
            border: 1px solid #ccc;
            /* 회색 테두리 적용 */
            border-radius: 5px;
            /* 테두리 모서리 둥글게 */
            padding: 5px;
            /* 테두리와 내용 간 여백 추가 */
            display: flex;
            align-items: center;
            justify-content: flex-start;
            /* 모든 요소를 왼쪽에 맞춰서 배치 */
            gap: 3px;
            /* 각 요소 간의 간격 최소화 */
            width: auto;
            /* 오디오 플레이어 너비 자동 조정 */
        }

        .play-pause {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: none;
            border: none;
            font-size: 18px;
            color: #5f6368;
            margin-right: 5px;
            padding: 0;
            cursor: pointer;
        }

        .time {
            font-size: 12px;
            margin: 0 3px;
            /* 시간 텍스트의 좌우 간격 줄이기 */
            padding: 0;
            min-width: 30px;
            /* 시간 텍스트의 최소 너비 줄이기 */
        }

        .seek-bar {
            flex-grow: 1;
            height: 5px;
            margin: 0 3px;
            /* 시크바 양 옆 간격 최소화 */
        }

        .volume-container {
            display: flex;
            align-items: center;
            gap: 3px;
            /* 볼륨 버튼과 슬라이더 사이 간격 최소화 */
            margin: 0;
            padding: 0;
        }

        .volume-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: none;
            border: none;
            font-size: 18px;
            color: #5f6368;
            margin: 0 0px;
            padding: 0;
            cursor: pointer;
        }

        .volume-slider {
            width: 70px;
            /* 볼륨 슬라이더 크기 조정 */
            height: 5px;
            padding: 0;
            margin: 0;
        }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데이터 관리</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="container">
        <h1>고신뢰도 데이터 관리</h1>
        <nav class="back-button-container">
            <a href="{{ url_for('index') }}" class="back-button btn">← 메인 페이지로 돌아가기</a>
        </nav>

        <button onclick="downloadAllFolder()" class="btn btn-success full-download-btn">전체 폴더 다운로드</button>

        <div class="dropdown button-group">
            <select id="classDropdown" class="btn btn-secondary">
                <option value="기차">기차</option>
                <option value="등하원소리">등하원소리</option>
                <option value="비행기">비행기</option>
                <option value="이륜차 주행음">이륜차 주행음</option>
                <option value="이륜차경적">이륜차경적</option>
                <option value="지하철">지하철</option>
                <option value="차량경적">차량경적</option>
                <option value="차량사이렌">차량사이렌</option>
                <option value="차량주행음">차량주행음</option>
                <option value="헬리콥터">헬리콥터</option>
            </select>
            <button id="downloadClassFolder" class="btn btn-secondary">선택한 클래스 폴더 다운로드</button>
        </div>

        <table id="data-table">
            <thead>
                <tr>
                    <th>num</th>
                    <th>파일명</th>
                    <th>클래스</th>
                    <th>정확도</th>
                    <th>저장된 시점</th>
                    <th>오디오</th>
                    <th>스펙트로그램</th>
                    <th>다운로드</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.file_name }}</td>
                    <td>{{ item.class }}</td>
                    <td>{{ item.confidence | round(2) }}%</td>
                    <td>{{ item.timestamp }}</td>
                    <td>
                        <div class="audio-player" data-audio-src="{{ item.audio_path }}">
                            <button class="play-pause btn">▶</button>
                            <span class="time current-time">0:00</span>
                            <input type="range" class="seek-bar" value="0" min="0" max="100">
                            <span class="time duration">0:00</span>
                            <div class="volume-container">
                                <button class="volume-button btn">🔊</button>
                                <input type="range" class="volume-slider" min="0" max="100" value="100">
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if item.spectrogram_path %}
                        <img src="{{ item.spectrogram_path }}" alt="Spectrogram" class="spectrogram-image">
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        <button class="download-btn btn" data-filename="{{ item.file_name }}"
                            data-class="{{ item.class }}">⬇️</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage" style="width: auto; height: auto;">
        <div id="caption"></div>
    </div>
    <script>
        $(document).ready(function () {

            var table = $('#data-table').DataTable({
                ajax: {
                    url: '/get-data-list',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: null, render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: 'file_name' },
                    { data: 'class' },
                    {
                        data: 'confidence', render: function (data, type, row) {
                            return (data * 100).toFixed(2) + '%';
                        }
                    },
                    { data: 'timestamp' },
                    {
                        data: 'audio_path', render: function (data, type, row) {
                            return '<div class="audio-player" data-audio-src="' + data + '">' +
                                '<button class="play-pause">▶</button>' +
                                '<span class="time">0:00</span>' +
                                '<input type="range" class="seek-bar" value="0" min="0" max="100">' +
                                '<span class="time">0:00</span>' +
                                '<div class="volume-container">' +
                                '<button class="volume-button">🔊</button>' +
                                '<input type="range" class="volume-slider" min="0" max="100" value="100">' +
                                '</div></div>';
                        }
                    },
                    {
                        data: 'spectrogram_path', render: function (data, type, row) {
                            if (data) {
                                return '<img src="' + data + '" alt="Spectrogram" class="spectrogram-image">';
                            } else {
                                return 'N/A';
                            }
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return '<button class="download-btn" data-filename="' + row.file_name + '" data-class="' + row.class + '">⬇️</button>';
                        }
                    }
                ],
                order: [[4, 'desc']],
                drawCallback: function () {
                    initializeAudioPlayers();
                }
            });

            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modalImage");
            var span = document.getElementsByClassName("close")[0];

            $('#data-table').on('click', '.spectrogram-image', function () {
                modal.style.display = "flex";
                modalImg.src = this.src;
                $(modalImg).hide().fadeIn(300);
            });

            span.onclick = function () {
                $(modal).fadeOut(300);
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    $(modal).fadeOut(300);
                }
            }

            $('#downloadClassFolder').on('click', function () {
                var selectedClass = $('#classDropdown').val();
                window.location.href = '/download-folder/' + encodeURIComponent(selectedClass);
            });

            $('#data-table').on('click', '.download-btn', function () {
                var fileName = $(this).data('filename');
                var className = $(this).data('class');
                downloadFiles(fileName, className);
            });
        });

        function downloadFiles(fileName, className) {
            const downloadUrl = `/download-file/${encodeURIComponent(className)}/${encodeURIComponent(fileName)}`;

            fetch(downloadUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = `${fileName.replace('.wav', '')}.zip`;
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Download failed:', error);
                    alert('파일 다운로드에 실패했습니다.');
                });
        }

        function downloadAllFolder() {
            window.location.href = '/download-folder/high_confidence_data';
        }

        function initializeAudioPlayers() {
            const players = document.querySelectorAll('.audio-player');

            players.forEach(player => {
                const audio = new Audio(player.dataset.audioSrc);
                const playPauseButton = player.querySelector('.play-pause');
                const seekBar = player.querySelector('.seek-bar');
                const volumeButton = player.querySelector('.volume-button');
                const volumeSlider = player.querySelector('.volume-slider');
                const timeDisplays = player.querySelectorAll('.time');

                // 초기화 시 모든 seek-bar를 0으로 설정
                seekBar.value = 0;

                // 초기화 시 모든 volume-slider를 100으로 설정
                volumeSlider.value = 100;
                audio.volume = 1;

                let isPlaying = false;

                function togglePlay() {
                    if (isPlaying) {
                        audio.pause();
                        playPauseButton.textContent = '▶';
                    } else {
                        audio.play();
                        playPauseButton.textContent = '❚❚';
                    }
                    isPlaying = !isPlaying;
                }

                function updateSeekBar() {
                    const percent = (audio.currentTime / audio.duration) * 100;
                    seekBar.value = percent;
                    timeDisplays[0].textContent = formatTime(audio.currentTime);
                }

                function formatTime(time) {
                    const minutes = Math.floor(time / 60);
                    const seconds = Math.floor(time % 60).toString().padStart(2, '0');
                    return `${minutes}:${seconds}`;
                }

                playPauseButton.addEventListener('click', togglePlay);

                audio.addEventListener('loadedmetadata', () => {
                    timeDisplays[1].textContent = formatTime(audio.duration);
                });

                audio.addEventListener('timeupdate', updateSeekBar);

                seekBar.addEventListener('input', () => {
                    const time = (seekBar.value / 100) * audio.duration;
                    audio.currentTime = time;
                });

                volumeButton.addEventListener('click', () => {
                    audio.muted = !audio.muted;
                    volumeButton.textContent = audio.muted ? '🔇' : '🔊';
                    volumeSlider.value = audio.muted ? 0 : audio.volume * 100;
                });

                volumeSlider.addEventListener('input', () => {
                    audio.volume = volumeSlider.value / 100;
                    audio.muted = false;
                    volumeButton.textContent = volumeSlider.value == 0 ? '🔇' : '🔊';
                });

                // Volume slider show/hide functionalit
                volumeButton.addEventListener('click', () => {
                    audio.muted = !audio.muted;
                    volumeButton.textContent = audio.muted ? '🔇' : '🔊';
                    volumeSlider.value = audio.muted ? 0 : audio.volume * 100;
                });

                volumeSlider.addEventListener('input', () => {
                    audio.volume = volumeSlider.value / 100;
                    audio.muted = false;
                    volumeButton.textContent = volumeSlider.value == 0 ? '🔇' : '🔊';
                });

            });
        }
    </script>
</body>

</html>